.wrapper{
    margin-top: -16px;
    padding: 0;
    border-bottom: 8px solid rgb(100, 100, 100);
}

.list{
    background: rgb(235, 235, 235);
    padding: 15px 50px;
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 16px;
}

.link{
    display: inline-block;
    color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    margin: 5px 50px;
    text-decoration: none;
}
.link.active{
    color: rgb(0, 81, 255);
    text-decoration: underline;
}

/* .link:hover{
    text-decoration: underline;
} */
